.jumbotron{
    background-color: aliceblue;
    margin: 0;
}

.jumbotron .jumbotron-heading {
    font-weight: 300;
}

.logo img{
    width: 150px;
    height: 100px;
}

footer {
    height: 100px;
    background-color: aqua;
    margin: 0px;
    text-align: center;
}
